<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Famiglia Furfaro - Nuestros Vinos</title>
    <link rel="stylesheet" href="vinos.component.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<!-- Título con imagen de fondo -->
<section class="titulo-vinos">
    <h1 class="titulo-texto">Nuestros Vinos</h1>
</section>

<!-- Descripción de los vinos -->
<div class="container my-5">
    <p class="descripcion-vinos text-center">
        En Famiglia Furfaro, cada vino cuenta una historia única, expresando la esencia del valle, las notas de nuestra tierra y el cuidado detrás de cada cosecha. Disfruta de nuestros vinos que varían entre Malbec, Cabernet Franc, Pinot Noir y más, cada uno creado para deleitar.
    </p>
</div>

<!-- Sección de los vinos en zigzag -->
<section id="sobre-nosotros" class="py-5">
    <div class="container">

        <div class="row align-items-center mb-5">
            <div class="col-md-6 text-center">
                <img src="../../../assets/img/perlei.jpeg" alt="Foto de la bodega" class="img-fluid img-thumbnail rounded shadow">
            </div>
            <div class="col-md-6 text-end">
                <h2 class="mb-4">Per Lei</h2>
                <p class="lead">
                    Tonalidades de rojo rubí brillante. En nariz, se presenta fresco con aromas delicados de frutilla y cereza, propios del Pinot Noir, equilibrados por la intensidad y profundidad del Malbec, con sutiles toques florales. En boca, es de cuerpo medio y elegante, con taninos suaves que le otorgan un final redondo y persistente. Ideal para quienes buscan un blend que combine frescura y expresión frutal.
                </p>
            </div>
        </div>

  
        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <h2 class="mb-4">Chardonnay</h2>
                <p class="lead">
                    Color amarillo tirando al ámbar, producto de su paso por barrica. Destellos brillantes con algunos matices verdes. En nariz_ expresa frutas como manzana verde, pero también aromas a pan tostado, proveniente_ del roble. En boca es un vino globoso, elegante, de acidez balanceada, provocando el interés por probar un poco más.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="../../../assets/img/chardonnay.jpeg" alt="Foto de la bodega" class="img-fluid img-thumbnail rounded shadow">

            </div>
        </div>


        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img src="../../../assets/img/gpetit.jpeg" alt="Foto de la bodega" class="img-fluid img-thumbnail rounded shadow">
            </div>
            <div class="col-md-6 text-end">
                <h2 class="mb-4">Gran Petit Verdot</h2>
                <p class="lead">
                    Profundo color púrpura con reflejos azulados. En nariz, despliega aromas intensos de frutos negros maduros, con notas de tabaco y pimienta negra que aportan complejidad. La crianza en barricas durante 24 meses resalta una estructura robusta y envolvente, logrando una redondez perfecta. Voluminoso y persistente en boca, con un final largo y especiado. Un tinto de guarda, ideal para quienes buscan intensidad y carácter.

                </p>
            </div>
        </div>

        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <h2 class="mb-4">Gran Reserva</h2>
                <p class="lead">
                    Tonalidades del rojo fuerte y violeta. Brillante en copa. En nariz podemos encontrar especias provenientes_ del cabernet franc, aromas a frutos maduros del Petit verdot y los siempre amables frutos rojos del malbec. 24 meses de crianza en barricas, aguardando el momento para llegar a la botella. Su paso por el roble francés provoca redondez y gran estructura para este tinto de guarda. Voluminoso en boca y de final elegante y extenso.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="../../../assets/img/greserva.jpeg" alt="Foto de la bodega" class="img-fluid img-thumbnail rounded shadow">

            </div>
        </div>


        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img src="../../../assets/img/malbec.jpeg" alt="Foto de la bodega" class="img-fluid img-thumbnail rounded shadow">
            </div>
            <div class="col-md-6 text-end">
                <h2 class="mb-4">Malbec</h2>
                <p class="lead">
                    Color rojo fuerte, destellos violáceos, propios de un vino joven. En nariz encontramos frutas como ciruela, cerezas. Mucha frescura en conjunto con su paso por el paladar. Un vino con taninos propios de la uva y una dulzura natural de los mismos. Buena concentración y mejor terminación en final de garganta.
                </p>
            </div>
        </div>

        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <h2 class="mb-4">Reserva Malbec Petit Verdot</h2>
                <p class="lead">
                    Color intenso profundo, en nariz combina la fruta madura del malbec, mermelada de ciruela, y la potencia aromatica de frutos negros como mora, provenientes del petit verdot, notas de vainilla y chocolate que son_ entregadas por las barricas, donde el vino reposo 12 meses. Con marcada presencia de taninos y volumen de boca, dando un vino de muy buen cuerpo y persistente. Acidez balanceada para hacer un blend único.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="../../../assets/img/malbecpetit.jpeg" alt="Foto de la bodega" class="img-fluid img-thumbnail rounded shadow">

            </div>
        </div>


        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img src="../../../assets/img/rose.jpeg" alt="Foto de la bodega" class="img-fluid img-thumbnail rounded shadow">
            </div>
            <div class="col-md-6 text-end">
                <h2 class="mb-4">Rosado</h2>
                <p class="lead">
                    Rosa pálido con destellos salmón, brillante y cristalino. En nariz, despliega frescas notas de frambuesa, fresa y un toque sutil de cítricos. En boca, es refrescante y ligero, con una acidez vibrante que equilibra la dulzura frutal, ofreciendo un final limpio y persistente. Perfecto para acompañar tardes cálidas y brindar un toque de elegancia en cada sorbo.
                </p>
            </div>
        </div>

        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <h2 class="mb-4">Pinot Noir</h2>
                <p class="lead">
                    Rojo rubí claro con reflejos brillantes. En nariz, aromas finos de cereza, frambuesa y un leve toque de especias que aportan complejidad y elegancia. En boca, destaca su suavidad y balance, con taninos finos y un paso amable. De final persistente y delicado, es un vino elegante y fresco, ideal para quienes buscan una experiencia más ligera y sofisticada.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="../../../assets/img/Pinot.jpeg" alt="Foto de la bodega" class="img-fluid img-thumbnail rounded shadow">

            </div>
        </div>


        <div class="row align-items-center">
            <div class="col-md-6 text-center">
                <img src="../../../assets/img/cabernet.jpeg" alt="Foto de la bodega" class="img-fluid img-thumbnail rounded shadow">
            </div>
            <div class="col-md-6 text-end">
                <h2 class="mb-4">Cabernet Franc</h2>
                <p class="lead">
                    Color Violeta instenso, brillante, de lagrima densa. En nariz demuestra toda su tipicidad, expresión total del varietal, notas de pimiento maduro, especies, combinado con tabaco y chocolate proveniente de sus_ 12 meses en barricas de roble francés. En boca, de taninos dulces, persistentes en boca. Volumen y profundidad equilibrada. Mucha elegancia.
                </p>
            </div>
        </div>

        <div class="row align-items-center mb-5">
            <div class="col-md-6">
                <h2 class="mb-4">Reserva Malbec</h2>
                <p class="lead">
                    Color rojo profundo, brillante, de lágrima bien densa. Sus 12 meses de madera le_ aportan estructura en boca, aromas a tabaco y vainilla. Taninos redondeados con el tiempo y la madera. Un vino voluminoso y_ de final largo. Elegante por sobre todo.
                </p>
            </div>
            <div class="col-md-6 text-center">
                <img src="../../../assets/img/rmalbec.jpeg" alt="Foto de la bodega" class="img-fluid img-thumbnail rounded shadow">

            </div>
        </div>


    </div>
</section>
</body>
</html>
