<section id="ubicacion" class="container my-5 text-center">
    <!-- Título de la sección -->
    <h2 class="display-4 mb-4">Nuestra Ubicación</h2>
    
    <!-- Dirección en texto con estilo -->
    <p class="ubicacion-texto mb-4" style="color: #ffffff; font-size: 1.2rem; background-color: #4a4a4a; padding: 10px; border-radius: 5px;">
        <strong>Dirección:</strong> Ruta 5 km. 68.2, Villa Ciudad Parque, Córdoba, Argentina.
    </p>
    
    <!-- Descripción breve -->
    <p style="color: #ffffff;">
        Visítanos en la bodega Famiglia Furfaro, ubicada en un entorno encantador en Villa Ciudad Parque. 
        Encuéntranos y disfruta de una experiencia inolvidable rodeada de naturaleza y buen vino.
    </p>
    
    <!-- Mapa integrado con iframe -->
    <div class="map-container mt-4">
        <iframe 
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5696.661048884471!2d-64.54452330001541!3d-31.89967028560229!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95d2b213145ed709%3A0x658e3f3c5d734b78!2sBodega%20Famiglia%20Furfaro!5e0!3m2!1ses!2sar!4v1732020377113!5m2!1ses!2sar" 
            width="100%" 
            height="450" 
            style="border:0; border-radius: 8px;" 
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade">
        </iframe>
    </div>
</section>
